In [27]:
import numpy as np
import pandas as pd
import sklearn.linear_model as skl
import sklearn.tree as skt
import matplotlib as plt
import seaborn as sns
from pandas.tools.plotting import scatter_matrix

In [2]:
df = pd.read_csv('data/churn_train.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 12 columns):
avg_dist                  40000 non-null float64
avg_rating_by_driver      39838 non-null float64
avg_rating_of_driver      33472 non-null float64
avg_surge                 40000 non-null float64
city                      40000 non-null object
last_trip_date            40000 non-null object
phone                     39681 non-null object
signup_date               40000 non-null object
surge_pct                 40000 non-null float64
trips_in_first_30_days    40000 non-null int64
luxury_car_user           40000 non-null bool
weekday_pct               40000 non-null float64
dtypes: bool(1), float64(6), int64(1), object(4)
memory usage: 3.4+ MB

In [4]:
df.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
0,6.94,5.0,5.0,1.00,Astapor,2014-05-03,Android,2014-01-12,0.0,0,False,100.0
1,8.06,5.0,5.0,1.00,Astapor,2014-01-26,Android,2014-01-25,0.0,2,True,0.0
2,21.50,4.0,NaN,1.00,Winterfell,2014-05-21,iPhone,2014-01-02,0.0,1,True,100.0
3,9.46,5.0,NaN,2.75,Winterfell,2014-01-10,Android,2014-01-09,100.0,1,False,100.0
4,13.77,5.0,NaN,1.00,Winterfell,2014-05-13,iPhone,2014-01-31,0.0,0,False,100.0

In [8]:
sns.set()

In [9]:
sns.pairplot(df,hue="surge_pct")

In [13]:
plt.plot(df)

AttributeError: module 'matplotlib' has no attribute 'plot'

In [ ]:
scatter_matrix(df)

In [12]:
plt.show()

AttributeError: module 'matplotlib' has no attribute 'show'

In [17]:
test = df
test.groupby(by=test['city'])

In [23]:
train = pd.read_csv('data/churn_train.csv',parse_dates = ['last_trip_date','signup_date'],infer_datetime_format=True)
pulled_date = pd.to_datetime('2014-07-01')
train['days_since_trip'] =  (pulled_date - train['last_trip_date']).dt.days
train.head()
y_train_churn = (train['days_since_trip'].values > 30) * 1
y_train_churn

array([1, 1, 1, ..., 0, 1, 0])

In [31]:
from mpl_toolkits.axes_grid1 import make_axes_locatable
axScatter.scatter(train['city'], y_train_churn)
axScatter.set_aspect(1.)

NameError: name 'axScatter' is not defined